parameters:
	level: 0
	bootstrapFiles:
		- /app/bootstrap/bootstrap.testing.php
	paths:
		- classes/class.PackageInstallService.php
		- classes/class.PackageRegistryClient.php
		- classes/class.PackageMetadataHelper.php
		- classes/entities/class.iEntity.php
		- classes/entities/class.SQLEntity.php
	tmpDir: /app/tmp/phpstan-framework
	dynamicConstantNames:
		- USE_PERSISTENT_CACHE

includes:
	- /app/vendor/phpstan/phpstan/conf/bleedingEdge.neon
